.containerbox {
    width: 90%;
    background-color: #153e5c;
    padding: 10px;
}

body{
    background-color: #a9b7cb;
}

#inputstyle {
    width: 100%;
}

.spacing {
    margin: 15px;
}

h1 {
    text-align: center;
    color: #ffc107;
}

.header {
    text-align: center;
}

.navstyling {

}

.inputbox {
    text-align: center;
}